
body {
  font-family: Arial, sans-serif;
  background-color: rgba(1, 7, 7, 255);
  color: #ffffff;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s;
  overflow-x: hidden;
  width: 100vw;
}

.wrapp {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 40px;
}

#sectionChess {
  display: flex;
  width: 100vw;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  z-index: +50;
  /* border: solid 1px blue; */
}

.chessimg {
  position: relative;
  width: 40vw;
  padding-top: 20vh;
  transform: translateZ(-40px) scale(2.5);
  top: -40vh;
  z-index: -3;
}



.chessimage {
  max-height: 90vh;
  max-width: 100vw;
  display: inline-block; /* Allows using margin: auto */
  margin: auto;
}

.container {
  max-width: 70vw;
  border: solid 0px rgba(255, 255, 255, 0.45);
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 18vh;
  margin-right: 2vw;
  margin-bottom: 5vh;
  border-radius: 20px;
  padding: 5vw;
  box-shadow: 0 0 10px rgba(131, 131, 131, 0.5);
  z-index: +50;  
}

h1 {
  font-size: 10vw;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  color: rgba(117, 102, 231, 255);
  text-align: center;
  transition: color 0.5s;
}

.tag {
  padding-bottom: 2vh;
  color: rgba(190, 181, 251, 0.87);
}

li {
  color: #ffffff;
  transition: color 0.5s;
  text-align: justify;
  padding: 1vh;
}

p {
  color: #ffffff;
  transition: color 0.5s;
  text-align: center;
}

.btn {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: +10;
}

.button {
  max-width: 160px;
  background-color: rgba(117, 102, 231, 1);
  width: fit-content;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.5s, transform 0.2s;
  z-index: +1000;
}
.button:hover {
  background-color: rgb(96, 75, 254);
  transform: scale(1.1);
  box-shadow: 0 0 10px #8a7bfd;
}

@media (max-width: 1200px) {
  .chessimage {
    padding-top: 12vh;
    width: 80vw;
    margin-left: 9vw;
  }
}

@media (max-width: 1000px) {
  #sectionChess {
    display: block;
    width: 90vw;
    margin-top: 15vh;
  }

  .chessimg {
    width: 80vw;
    transform: scale(1.4);
    position: absolute;
    z-index: -100;
    left: -10vw;
    transform: translateZ(-50px) scale(3);
  }

  .container {
    width: 80vw;
    margin: 5vh 10vw;
  }

  h1,
  h2,
  h3 {
    transform: scale(0.9);
  }

  li {
    padding: 0.5vh;
  }

  p,
  li {
    transform: scale(0.8);
  }

  .lst {
    transform: scale(0.8);
  }
}

.navbar {
  width: 96vw;
  height: 12vh;
  margin-left: 0.8vw;
  position: sticky;
  margin-top: 1vh;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 150px;
  background-color: black;
  z-index: 100;
}
.logo {
  max-height: 8vh;
  max-width: 40vw;
  padding-left: 4vw;
}

.back,
.reg {
  margin: 0px;
  margin-right: 2vw;
  width: fit-content;
  text-align: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .back,
  .reg {
    font-size: 2.5vw;
    padding: 2.5vw;
  }
}



.counter-container {
  position: relative;
  top: 20vh;  
  background: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #ffbaba 100%);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 4px;
  text-align: center;
  max-width: fit-content;
  margin: 0 auto;
  transform: translateZ(-20px) scale(1);
}

.inblock {
  margin: 0 auto;
  background: black;
  width: 100%;
  padding-bottom: 1vw;
  border-radius: 20px;
}

.regcount {
  font-size: 4vw;
  padding: 2vw;
  color: #ffffff;
  padding: 30px 80px;
}

.counter {
  margin-bottom: 20px;
  font-size: 6vw;
  width: fit-content;
  margin: 2vw auto;
  padding: 1vw 3vw;
  background: linear-gradient(80deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: solid #ffffff;
  border-radius: 20px;
}



.cup {
    position: absolute;
    justify-content: baseline;
    max-width: 150vw;
    right: 15vw;
    bottom: 0;
    z-index: -10000000;
    opacity: 1;
    max-height: 80vh;
  }
  
  @media (max-width: 1200px) {
      .cup{
          right: 0vw;
          max-width: 80vw;
          
      }
      
  }















.overlayt {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .countert {
    text-align: center;
    font: 2rem sans-serif;
    color: white;
  }
  .close-btnt {
    position: absolute;
    transform: scale(2);
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
  }

  .close-btnt:hover {
    transform: scale(3);
  }


  .social, .copyright {
    color: #000000;
    margin: 1rem;
    transition: ease-in 0.2s;
    z-index: +1000;
  }
  
  .copyright:hover{
    transform: scale(1);
  }

  .social li {
    display: inline-block;
    transform: scale(1.5);
    padding: 5px 2.3vw ;
    transition: ease-in 0.2s;
    z-index: +1000;
  }

  .social li:hover {
    transform: scale(2);
  }
  
  footer {
    position: relative;
    margin: 0;
    bottom: -20vh;
    padding: 1rem 0;
    padding-top: 2.2rem;
    background: linear-gradient(180deg, rgb(244, 255, 191) 0%, rgba(255,255,255,1) 100%);
    text-align: center;
    z-index: +1000;
  }

  


