/* fifa */
body {
  font-family:Exo ,sans-serif;
  background-color: rgba(1, 7, 7, 255);
  color: #ffffff;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s;
  overflow-x: hidden;
  width: 100vw;
}

.wrapp {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 40px;
}

#sectionChess {
  display: flex;
  width: 100vw;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  z-index: +50;
  /* border: solid 1px blue; */
}

.chessimg {
  position: relative;
  width: 40vw;
  padding-top: 20vh;
  transform: translateZ(-40px) scale(2.45);
  top: -40vh;
  z-index: -30000000000;
}



.chessimage {
  max-height: 90vh;
  max-width: 100vw;
  display: inline-block; /* Allows using margin: auto */
  margin: 0 auto;
}

.childcontainer {
  position: relative;
  max-width: 90vw;
  border: solid 0px rgba(255, 255, 255, 0.45);
  margin-top: 18vh;
  margin-right: 2vw;
  margin-bottom: 25vh;
  border-radius: 20px;
  padding: 5vw;
  box-shadow: 0 0 10px rgba(131, 131, 131, 0.5);
  z-index: +500000000;  
  background-color: rgba(0, 0, 0, 0.6);
  /* padding-bottom: 30vh; */
}

.childcontainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://assets-global.website-files.com/65f1ba3e5385b0d4211ca411/65f1dc42c10273505a22d31a_bg2.jpg");
  background-size: contain;
  opacity: 0.6; /* Adjust the opacity as needed */
  z-index: -10;
}

h1 {
  font-family: Exo ,sans-serif;
  font-size: 100px;
  font-weight: bold;
  
  color: rgb(239, 232, 232);
  text-shadow: 2px 2px 8px #000000;
  opacity: 1;
 
}

h1,
h2,
h3 {
  
  text-align: center;
  transition: color 0.5s;
  color: #ffffff;
  text-shadow: 2px 2px 8px #000000;
}

h2{
  font-size: 30px;
  /* padding-bottom: 2vh; */
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

li {
  color: #ffffff;
  transition: color 0.5s;
  text-align: justify;
  padding: 1vh;
}

p {
  letter-spacing: 1px;
  word-spacing: 1px;
line-height: 20px;
font-family: Quicksand,sans-serif;
  font-size: 16px;
  color: #ffffff;
  transition: color 0.5s;
  text-align: center;
}

.imp{
  transform: scale(1.2);
  font-weight: bold;
  text-shadow: 2px 2px 8px #000000;
}

.btn {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: +10;
  font-weight: bold; 
  transform: scale(1.2);
}

.button {
  letter-spacing:1px;
  max-width: 160px;
  background-color: rgb(116, 26, 12);
  width: fit-content;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.5s, transform 0.2s;
  z-index: +10000000;

}
.button:hover {
  background-color: rgb(240, 30, 26);
  transform: scale(1.2);
  box-shadow: 0 0 10px #e4b3b3;
}

@media (max-width: 1200px) {
  .chessimage {
    padding-top: 12vh;
    width: 80vw;
    margin-left: 9vw;
  }
}

@media (max-width: 1000px) {
  #sectionChess {
    display: block;
    width: 100vw;
    margin-top: 15vh;
  }

  .chessimg {
    width: 80vw;
    transform: scale(1.4);
    position: absolute;
    z-index: -100;
    left: -10vw;
    transform: translateZ(-50px) scale(3);
  }

  .childcontainer {
    width: 100vw;
    margin: 5vh 5vw;
    /* margin-bottom: 25vh; */
  }





   p,
  li {
    font-size: 0.8rem;
  } 

  .lst {
    transform: scale(0.8);
  }
}

/* .navbar {
  width: 96vw;
  height: 12vh;
  margin-left: 0.8vw;
  position: sticky;
  margin-top: 1vh;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 150px;
  background-color:  rgba(19, 3, 3, 0.689);;
  z-index: 100;
} */
/* .logo {
  
  max-height: 8vh;
  max-width: 40vw;
  padding-left: 4vw;
}

.back,
.reg {
  margin: 0px;
  margin-right: 2vw;
  width: fit-content;
  text-align: center;
  justify-content: center;
} */

@media (max-width: 600px) {
  .back,
  .reg {
    font-size: 2.5vw;
    padding: 2.5vw;
  }
}



.counter-container {
  position: relative;
  top: 20vh;  
  background: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #ffbaba 100%);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 4px;
  text-align: center;
  max-width: fit-content;
  margin: 0 auto;
  transform: translateZ(-20px) scale(1);
}

.inblock {
  margin: 0 auto;
  background: black;
  width: 100%;
  padding-bottom: 1vw;
  border-radius: 20px;
}

.regcount {
  font-size: 4vw;
  padding: 2vw;
  color: #ffffff;
  padding: 30px 80px;
}

.counter {
  margin-bottom: 20px;
  font-size: 6vw;
  width: fit-content;
  margin: 2vw auto;
  padding: 1vw 3vw;
  background: linear-gradient(80deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: solid #ffffff;
  border-radius: 20px;
}



.cup {
    position: absolute;
    justify-content: baseline;
    max-width: 150vw;
    bottom: 0;
    z-index: -10000000;
    opacity: 1;
    max-height: 50vh;
  }
  
  @media (max-width: 1200px) {
      .cup{
          right: 0vw;
          max-width: 80vw;
          
      }
      
  }















.overlayt {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .countert {
    text-align: center;
    font: 2rem sans-serif;
    color: white;
  }
  .close-btnt {
    position: absolute;
    transform: scale(2);
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
  }

  .close-btnt:hover {
    transform: scale(3);
  }


  .social, .copyright {
    color: #000000;
    margin: 1rem;
    transition: ease-in 0.2s;
    z-index: +1000;
  }
  
  .copyright:hover{
    transform: scale(1);
  }

  .social li {
    display: inline-block;
    transform: scale(1.5);
    padding: 5px 2.3vw ;
    transition: ease-in 0.2s;
    z-index: +1000;
  }

  .social li:hover {
    transform: scale(2);
  }
  
  footer {
    position: relative;
    
  }

  .cup{
    height: 40vh;
    z-index: -1;
    right: 5vw;
  }  

  .eventsfooter{
    z-index: 100;
  }


.navbar{
  width: 100%;
  margin: 0 auto;
  margin-left: 1.8vw;
  position: sticky;
}

.fotlogo{
  box-shadow: none;
}