* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* background-color: black; */
}

/* Background Visuals Start  */
html{
  height: 100vh;
  background: linear-gradient(45deg,rgb(31, 30, 30), rgb(4, 55, 100), rgb(31, 30, 30));
  overflow-x: hidden;
  overflow-y: scroll;
}

.core {
  background: #cedce0;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 10px rgba(2, 255, 255, 0.15) solid;
  animation: flicker 0.2s infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.core2 {
  background: #cedce0;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 10px rgba(2, 255, 255, 0.15) solid;
  animation: flicker2 0.2s infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.big_core {
  background: #cedce0;
  width: 200px;
  height: 200px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 10px rgba(2, 255, 255, 0.15) solid;
  animation: big_flicker 0.2s infinite;
}

.c_ease {
  animation: colour_ease 3s infinite ease-in-out;
}

.counterspin5 {
  animation: rotate_anti 5s linear infinite;
}

.counterspin4 {
  animation: rotate_anti 4s linear infinite;
}

.semi_arc {
  width: 100px;
  height: 100px;
  border: 6px solid #02feff;
  background: rgba(2, 254, 255, 0.2);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transform: rotateZ(0deg);
  transition: box-shadow 3s ease;
  text-align: center;
  line-height: 100px;
}

.semi_arc:hover {
  box-shadow: 0px 0px 30px rgba(2, 254, 255, 0.8);
  transition: 0.3s;
}

.semi_arc_2 {
  content: "";
  position: absolute;
  width: 94%;
  height: 94%;
  left: 3%;
  top: 3%;
  border: 5px solid #02feff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  animation: rotate 4s linear infinite;
  text-align: center;
  line-height: 129px;
}

.semi_arc_2:after {
  content: "";
  position: absolute;
  width: 94%;
  height: 94%;
  left: 3%;
  top: 3%;
  border: 4px solid #02feff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  animation: rotate_anti 2s linear infinite;
}

.semi_arc_3 {
  content: "";
  position: absolute;
  width: 94%;
  height: 94%;
  left: 3%;
  top: 3%;
  border: 5px solid #02feff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  animation: rotate 4s linear infinite;
  text-align: center;
  line-height: 129px;
}

.arc {
  width: 100px;
  height: 100px;
  border: 6px solid #02feff;
  background: rgba(2, 254, 255, 0.2);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: rotateY(-30deg) translateZ(-200px);
  -ms-transform: rotateY(-30deg) translateZ(-200px);
  -webkit-transform: rotateY(-30deg) translateZ(-200px);
  transform: rotateY(-30deg) translateZ(-200px);
  transform: rotateZ(0deg);
  transition: box-shadow 3s ease;
  text-align: center;
  line-height: 100px;
}

.arc:hover {
  box-shadow: 0px 0px 30px rgba(2, 254, 255, 0.8);
  transition: 0.3s;
}

.arc:after {
  content: "";
  position: absolute;
  width: 94%;
  height: 94%;
  left: 3%;
  top: 3%;
  border: 4px solid #02feff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  animation: rotate 4s linear infinite;
}

.e1:after {
  border-color: rgba(2, 255, 255, 0.6);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.e2:after {
  border-color: rgba(2, 255, 255, 0.6);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.e3 {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  animation: rotate 5s linear infinite;
}

.e3:after {
  border-color: rgba(2, 255, 255, 0.6);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.e4 {
  width: 150px;
  height: 150px;
}

.e4_1 {
  border-color: rgba(2, 255, 255, 0.3);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.e4_1:after {
  border-color: rgba(2, 255, 255, 0.6);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.e5 {
  width: 200px;
  height: 200px;
}

.e5_1 {
  color: rgba(2, 255, 255, 0.15);
  border: 2px solid;
  border-left: 2px solid transparent;
  animation: rotate 5s linear infinite;
}

.e5_2 {
  color: rgba(2, 255, 255, 0.7);
  border: 4px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  animation: rotate_anti 4s linear infinite;
}

.e5_3 {
  color: rgba(2, 255, 255, 0.5);
  border: 2px solid;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  animation: rotate 3s linear infinite;
}

.e5_4 {
  color: rgba(2, 255, 255, 0.15);
  border: 4px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  animation: rotate_anti 2s linear infinite;
}

.e6 {
  border-color: transparent;
  background: rgba(255, 255, 255, 0);
  width: 200px;
  height: 200px;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate_anti {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes colour_ease {
  0% {
    border-color: #02feff;
  }
  50% {
    border-color: rgba(2, 254, 255, 0.5);
  }
  100% {
    border-color: #02feff;
  }
}
@keyframes flicker {
  0% {
    box-shadow: 0px 0px 16px 8px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
  40% {
    box-shadow: 0px 0px 16px 8px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
  50% {
    box-shadow: 0px 0px 16px 6px rgba(150, 255, 255, 0.5), inset 0px 1px 100px 2px rgba(21, 211, 233, 0.3);
  }
  60% {
    box-shadow: 0px 0px 16px 8px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
  100% {
    box-shadow: 0px 0px 16px 8px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
}
@keyframes flicker2 {
  0% {
    box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
  40% {
    box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
  50% {
    box-shadow: 0px 0px 50px 17px rgba(150, 255, 255, 0.5), inset 0px 1px 100px 2px rgba(21, 211, 233, 0.3);
  }
  60% {
    box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
  100% {
    box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
}
@keyframes big_flicker {
  0% {
    box-shadow: 0px 0px 40px 20px rgba(150, 255, 255, 0.5), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  }
  40% {
    box-shadow: 0px 0px 40px 20px rgba(150, 255, 255, 0.5), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  }
  50% {
    box-shadow: 0px 0px 35px 17px rgba(150, 255, 255, 0.5), inset 0px 1px 50px 40px rgba(21, 211, 233, 0.3);
  }
  60% {
    box-shadow: 0px 0px 40px 20px rgba(150, 255, 255, 0.5), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  }
  100% {
    box-shadow: 0px 0px 40px 20px rgba(150, 255, 255, 0.5), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  }
}
html, body {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.arc_reactor {
  position: relative;
  top: 50%;
  margin-top: -125px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 15px rgba(2, 255, 255, 0.3), inset 0px 0px 50px 15px rgba(2, 255, 255, 0.3);
}

.core2 {
  background: #cedce0;
  width: 110px;
  height: 110px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(2, 255, 255, 0.15);
  animation: flicker2 0.2s infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.e7 {
  width: 95.25%;
  height: 95.25%;
  left: 2.5475%;
  right: 2.5475%;
  border: 6px solid transparent;
  background: transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transform: rotateZ(0deg);
  transition: box-shadow 3s ease;
  text-align: center;
  line-height: 100px;
}

.case_container {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}

.marks li {
  display: block;
  width: 3px;
  height: 11px;
  background: rgba(2, 254, 255, 0.8);
  position: absolute;
  margin-left: 105px;
  margin-top: -110px;
  animation: colour_ease2 3s infinite ease-in-out;
}

@keyframes colour_ease2 {
  0% {
    background: #02feff;
  }
  50% {
    background: rgba(2, 254, 255, 0.3);
  }
  100% {
    background: #02feff;
  }
}
.marks li:first-child {
  transform: rotate(6deg) translateY(125px);
}

.marks li:nth-child(2) {
  transform: rotate(12deg) translateY(125px);
}

.marks li:nth-child(3) {
  transform: rotate(18deg) translateY(125px);
}

.marks li:nth-child(4) {
  transform: rotate(24deg) translateY(125px);
}

.marks li:nth-child(5) {
  transform: rotate(30deg) translateY(125px);
}

.marks li:nth-child(6) {
  transform: rotate(36deg) translateY(125px);
}

.marks li:nth-child(7) {
  transform: rotate(42deg) translateY(125px);
}

.marks li:nth-child(8) {
  transform: rotate(48deg) translateY(125px);
}

.marks li:nth-child(9) {
  transform: rotate(54deg) translateY(125px);
}

.marks li:nth-child(10) {
  transform: rotate(60deg) translateY(125px);
}

.marks li:nth-child(11) {
  transform: rotate(66deg) translateY(125px);
}

.marks li:nth-child(12) {
  transform: rotate(72deg) translateY(125px);
}

.marks li:nth-child(13) {
  transform: rotate(78deg) translateY(125px);
}

.marks li:nth-child(14) {
  transform: rotate(84deg) translateY(125px);
}

.marks li:nth-child(15) {
  transform: rotate(90deg) translateY(125px);
}

.marks li:nth-child(16) {
  transform: rotate(96deg) translateY(125px);
}

.marks li:nth-child(17) {
  transform: rotate(102deg) translateY(125px);
}

.marks li:nth-child(18) {
  transform: rotate(108deg) translateY(125px);
}

.marks li:nth-child(19) {
  transform: rotate(114deg) translateY(125px);
}

.marks li:nth-child(20) {
  transform: rotate(120deg) translateY(125px);
}

.marks li:nth-child(21) {
  transform: rotate(126deg) translateY(125px);
}

.marks li:nth-child(22) {
  transform: rotate(132deg) translateY(125px);
}

.marks li:nth-child(23) {
  transform: rotate(138deg) translateY(125px);
}

.marks li:nth-child(24) {
  transform: rotate(144deg) translateY(125px);
}

.marks li:nth-child(25) {
  transform: rotate(150deg) translateY(125px);
}

.marks li:nth-child(26) {
  transform: rotate(156deg) translateY(125px);
}

.marks li:nth-child(27) {
  transform: rotate(162deg) translateY(125px);
}

.marks li:nth-child(28) {
  transform: rotate(168deg) translateY(125px);
}

.marks li:nth-child(29) {
  transform: rotate(174deg) translateY(125px);
}

.marks li:nth-child(30) {
  transform: rotate(180deg) translateY(125px);
}

.marks li:nth-child(31) {
  transform: rotate(186deg) translateY(125px);
}

.marks li:nth-child(32) {
  transform: rotate(192deg) translateY(125px);
}

.marks li:nth-child(33) {
  transform: rotate(198deg) translateY(125px);
}

.marks li:nth-child(34) {
  transform: rotate(204deg) translateY(125px);
}

.marks li:nth-child(35) {
  transform: rotate(210deg) translateY(125px);
}

.marks li:nth-child(36) {
  transform: rotate(216deg) translateY(125px);
}

.marks li:nth-child(37) {
  transform: rotate(222deg) translateY(125px);
}

.marks li:nth-child(38) {
  transform: rotate(228deg) translateY(125px);
}

.marks li:nth-child(39) {
  transform: rotate(234deg) translateY(125px);
}

.marks li:nth-child(40) {
  transform: rotate(240deg) translateY(125px);
}

.marks li:nth-child(41) {
  transform: rotate(246deg) translateY(125px);
}

.marks li:nth-child(42) {
  transform: rotate(252deg) translateY(125px);
}

.marks li:nth-child(43) {
  transform: rotate(258deg) translateY(125px);
}

.marks li:nth-child(44) {
  transform: rotate(264deg) translateY(125px);
}

.marks li:nth-child(45) {
  transform: rotate(270deg) translateY(125px);
}

.marks li:nth-child(46) {
  transform: rotate(276deg) translateY(125px);
}

.marks li:nth-child(47) {
  transform: rotate(282deg) translateY(125px);
}

.marks li:nth-child(48) {
  transform: rotate(288deg) translateY(125px);
}

.marks li:nth-child(49) {
  transform: rotate(294deg) translateY(125px);
}

.marks li:nth-child(50) {
  transform: rotate(300deg) translateY(125px);
}

.marks li:nth-child(51) {
  transform: rotate(306deg) translateY(125px);
}

.marks li:nth-child(52) {
  transform: rotate(312deg) translateY(125px);
}

.marks li:nth-child(53) {
  transform: rotate(318deg) translateY(125px);
}

.marks li:nth-child(54) {
  transform: rotate(324deg) translateY(125px);
}

.marks li:nth-child(55) {
  transform: rotate(330deg) translateY(125px);
}

.marks li:nth-child(56) {
  transform: rotate(336deg) translateY(125px);
}

.marks li:nth-child(57) {
  transform: rotate(342deg) translateY(125px);
}

.marks li:nth-child(58) {
  transform: rotate(348deg) translateY(125px);
}

.marks li:nth-child(59) {
  transform: rotate(354deg) translateY(125px);
}

.marks li:nth-child(60) {
  transform: rotate(360deg) translateY(125px);
}
/* Background Visuals End */

/* Navigation Bar */

.navbar {
  width: 95vw;
  position: fixed;
  top: 0%;
  left: 2%;
  margin-bottom: 2%;
  z-index: 2;
}
nav{
  padding: 1% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 200px;
  background-color: rgba(4, 2, 70, 0.7); 
  overflow: hidden; 
}

nav .logo {
  width: 15vw;
  max-width: 150px; /* Set max-width to prevent logo from growing too large */
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: #fff;
  background: transparent;
}

.nav_btn {
  /* border: 2px solid wheat; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  /* padding: 0.2%; */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Change display property to flex */
  flex-wrap: wrap; /* Allow flex items to wrap to next line if necessary */
}

nav ul li {
  display: inline-block;
  padding: 1% 0%;
  margin-left: 20px;
  border: 2px solid white;
  border-radius: 8px;
  white-space: nowrap; /* Prevent text from wrapping */
}

nav ul li a {
  text-decoration: none;
  font-size: large;
  font-weight: 200;
  color: rgb(241, 245, 248);
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  nav {
    padding: 3% 10%;
  }

  nav .logo {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(12%, 18%);
    width: 20vw;
  }

  nav ul {
    flex-direction: column; /* Change flex direction to column */
    align-items: center; /* Center align flex items */
  }
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  nav {
    padding: 4% 5%;
  }
  
  .nav_btn{
    top:0%;
    left:0%;
  }
  nav .logo {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(22%, 39%);
    width: 20vw;
    height: 5vh;
  }

  nav ul li{
    margin-left:5%; 
    /* font-size: 20px; */
  }

  nav ul li a{
    font-size:medium;
    margin-left: 2%;
  }
}

@media screen and (max-width: 330px) {
  nav {
    padding: 4% 5%;
  }
  
  .nav_btn{
    top:0%;
    left:0%;
  }
  nav .logo {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(22%, 28%);
    width: 20vw;
    height: 5vh;
  }

  nav ul li{
    margin-left:2%; 
    /* font-size: 20px; */
  }

  nav ul li a{
    font-size:small;
    margin-left: 2%;
  }
}

/* Navigation Bar Ends */

/* Main Content Starts */

.gradient-text-animation {
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  color: aliceblue;
  font-weight: 8px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  text-align: center;
  line-height: 0.9;
  --colorA: #21b4ee;
  --colorB: #a0d6ef;
  cursor: default;
  position: relative;
  background-image: linear-gradient(120deg, var(--colorA) 0%, var(--colorB) 50%, var(--colorA) 100%);
  background-origin: padding-box;
  background-size: 200%;
  -webkit-box-decoration-break: clone;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: unset;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  overflow: visible;
  animation: 3s linear 0s infinite normal forwards running nextui-k-dAFEPd;
}
@keyframes nextui-k-dAFEPd {
	100% {
		background-position: -200% center
	}
}

.content-row {
  position: absolute;
  padding: 1% 2%;
  margin-top: 2%;
  width: 92%;
  height: fit-content;
  left: 4%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 16px;
  transform: translate(0%,8%);
}

.content-row .column-1,
.content-row .column-2 {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Change to center */
  align-items: center; /* Change to center */
  background-color: transparent;
  z-index: 1;
  /* border: 2px solid white; */
  border-radius: 16px;
}
.column-1{
  position: absolute;
  transform: translate(-8%,5%);
  padding:1.5%;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  margin-left:2%;
}

.column-2 {
  order:2;
  position:absolute;
  transform: translate(0%,40%);
  margin-left: 3%;
  align-items: flex-start;
  padding: 2%;
}

.arc_reactor{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(60%, 0%);
  z-index: -1;
}

.box {
  width: fit-content;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative; 
  overflow: hidden;
  padding: 3%;
  padding-left: 5.5%;
}
.box{
  order:1;
  position: absolute; 
  top:-50%;
  left:-50%;
  transform: translate(22%,-125%);
}
#video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.box{
 width: 40vw;
 height: 60vh;
 border: 2px solid white;
}

.column-1 .box>img {
 margin: 4%;
 margin-left:10%;
 margin-right:12%;
 width: 30vw;
 height: 50vh;
 border: 2px solid white;
 border-radius: 16px;
}

.column-2 p {
  margin-left: 2%;
  color: rgb(255, 255, 255);
  background-color: transparent;
  padding: 0.2%;
}
.tab-titles {
  margin-top: 2%;
  width: fit-content;
  font-size: larger;
  background: transparent;
  display: flex;
  justify-content: center;
  position: relative; 
}

.tab-links {
  margin-right: 2%;
  padding: 2%;
  position: relative; 
}

.tab-links p {
  color: white;
  font-style: Verdana, sans-serif; 
  font-weight: bold;
  background: transparent;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links:hover::after,
.tab-links:focus::after,
.tab-links.active-link::after { /* Add hover, focus, and active styles */
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  background: transparent;
}

.tab-contents ul li p {
  color: #fff;
  font-size: larger;
  font-family: 'Times New Roman', serif;
  background: transparent;
  margin-bottom: 5%;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab { 
  display: block;
  background: transparent;
  word-wrap: normal;
}

/* Registration Button Starts */
.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  margin:2%;
  position: relative;
  left:35%;
  border: 1px solid white;
}


.btn-5 {
  position: relative;
  width: 10%;
  height: 20%;
  line-height: 42px;
  padding: 0;
  /* margin-left: 20px;  */
  border: none;
  background: rgb(255, 27, 0);
  background: linear-gradient(0deg,rgba(73, 6, 6, 1) 0%,rgba(140, 24, 24, 1) 10%, rgba(255, 27, 0, 1) 35%, rgba(251, 75, 2, 1) 50%,rgba(0,0,0,1) 100%);
}

.btn-5 span{
  color:white;
  font-weight: bold;
}

.btn-5:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}

.btn-5:before,
.btn-5:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

@media screen and (min-width: 1035px){
  .content-row {
    flex-direction: row;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(5%, -160%);
    height: 42vh;
    width: 40vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(54%, 34%);
  }
  .arc_reactor {
    position: absolute;
    transform: translate(85%, 8%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    width: 20%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}
/* For Ipad Pro */
@media screen and (max-width: 1024px) and (max-height:1368px){
  /* nav{
height: 8vh;
  } */
  nav .logo{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(25%,39%);
  }
  .content-row {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-40%, -20%);
    height: 45vh;
    width: 40vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(54%, 57%);
    font-size: 100%;
  }
  .arc_reactor {
    position: absolute;
    transform: translate(-43%, 158%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    width: 20%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@media screen and (max-width: 1034px){
  nav{
height: 18vh;
  }
  nav .logo{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(25%,39%);
  }
  .content-row {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-40%, -20%);
    height: 45vh;
    width: 40vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(54%, 57%);
    font-size: 100%;
  }
  .arc_reactor {
    position: absolute;
    transform: translate(-43%, 158%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    width: 20%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@media screen and (max-width: 920px){
  nav{
height: 8vh;
  }
  nav .logo{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(25%,39%);
  }
  .content-row {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-40%, -20%);
    height: 25vh;
    width: 50vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(54%, 57%);
    font-size: 100%;
  }
  .arc_reactor {
    position: absolute;
    transform: translate(-43%, 8%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    width: 20%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@media screen and (max-width: 861px){
  nav{
height: 8vh;
  }
  nav .logo{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(25%,39%);
  }
  .content-row {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-40%, -20%);
    height: 30vh;
    width: 50vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(54%, 57%);
    font-size: large;
  }
  .arc_reactor {
    position: absolute;
    transform: translate(-43%, 38%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    width: 20%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@media screen and (max-width: 821px){
  nav{
height: 8vh;
  }
  nav .logo{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(25%,39%);
  }
  .content-row {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-40%, -20%);
    height: 30vh;
    width: 50vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(54%, 57%);
    font-size: large;
  }
  .arc_reactor {
    position: absolute;
    transform: translate(-43%, 58%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    width: 20%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@media screen and (max-width: 768px){
  nav .logo{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(25%,9%);
  }
  .content-row {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-40%, -20%);
    height: 33vh;
    width: 50vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(54%, 47%);
    font-size: large;
  }
  .arc_reactor {
    position: absolute;
    transform: translate(-43%, 58%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    width: 20%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@media screen and (max-width: 600px){
  .content-row {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-40%, -40%);
    height: 27vh;
    width: 40vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(54%, 35%);
  }
  .arc_reactor {
    position: absolute;
    transform: translate(-43%, 50%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    width: 29%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@media screen and (max-width: 431px){
  
  nav .logo{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(25%,29%);
  }
  .content-row {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-45%, -50%);
    height: 20vh;
    width: 60vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(50%, 28%);
  }
  .arc_reactor {
    position: absolute;
    transform: translate(-50%, -10%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    left:0%;
    width: 35%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@media screen and (max-width: 391px){
  nav .logo{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(25%,24%);
  }
  .content-row {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-45%, -50%);
    height: 20vh;
    width: 60vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(46%, 28%);
  }
  .arc_reactor {
    position: absolute;
    transform: translate(-50%, 0%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    left:0%;
    width: 35%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@media screen and (max-width: 376px){
  nav .logo{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(25%,24%);
  }
  .content-row {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-45%, -50%);
    height: 22vh;
    width: 60vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(46%, 25%);
  }
  .arc_reactor {
    position: absolute;
    transform: translate(-50%, 24%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    left:0%;
    width: 35%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@media screen and (max-width: 361px){
  .content-row {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-45%, -50%);
    height: 24vh;
    width: 60vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(44%, 25%);
  }
  .arc_reactor {
    position: absolute;
    transform: translate(-50%, 20%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    left:0%;
    width: 35%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@media screen and (max-width: 280px){
  .content-row {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .box {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-45%, -60%);
    height: 24vh;
    width: 60vw;
  }
  .column-2 {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(35%, 25%);
  }
  .arc_reactor {
    position: absolute;
    transform: translate(-50%, 30%);
  }
  .content-row .column-1,
  .content-row .column-2 {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .column-1 .box > img {
    margin: 3%;
    height: 20%;
    width: 80%;
    height: auto;
  }
  .btn-5 {
    position: relative;
    left:0%;
    width: 35%;
    height: 20%;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(73, 6, 6, 1) 0%,
      rgba(140, 24, 24, 1) 10%,
      rgba(255, 27, 0, 1) 35%,
      rgba(251, 75, 2, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}
/* Main Content Ends */

